/* Styles spécifiques au composant de liste des tâches */
:host {
    display: block;
    width: 100%;
}

.table-header-section {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table tr:hover {
    background-color: #fcfcfc;
}

button {
    transition: transform 0.1s;
}

button:active {
    transform: scale(0.95);
}
